.bust-logo {
  display: table;
  margin: 1em auto 0.2em auto;
}

.view-title {
  margin-top: 1em;
}

.subtitle {
  font-size: 0.5em;
  color: gray;
}

.button, .button-primary{
  margin: 0.6em auto;
}

.start-view-button {
  display: table;
  margin: 0.6em auto;
}

.column > .select-stop-button {
  display: inline-block;
}

#browse-for-stop-button {
  cursor: default;
}

#back-button {
  margin-right: 2em;
}
